.DS_store

## User settings
PageView.xcodeproj/project.xcworkspace/
PageView.xcodeproj/xcuserdata/
PageView.xcodeproj/xcshareddata/
## previews
PageView/Preview\ Content/
PageView/iconGen_ColourViewer*/
# package manager
.swiftpm
